html, body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, "Roboto Regular", Roboto, "Droid Sans", "Microsoft Yahei", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  font-weight: 500;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

mark {
  background-color: #ff0;
  color: #000;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img, input {
  border-style: none;
}

input {
  outline: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

body,
html, ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

i, em {
  font-style: normal;
}
