$r: 50;
@charset "utf-8";
@import "base/functions";
// 页面颜色
$background-f5f5f5: #f5f5f5;
$nav-back-f6f9fa: #f6f9fa;
$title-back-e7eaee: #e7eaee;
$button-back-fff: #fff;
$intersperse-back-ffd400: #ffd400;
$background-ff3600: #ff3600;
$background-ff3a5f: #ff3a5f;
$background-ff405f: #ff405f;
$tag-active-92c0f1: #92c0f1;
$center-4aa1ff: #4aa1ff;
$background-95cfff: #95cfff;
$border-535659: #535659;

// 字体颜色
$main-font-000: #000;
$minor-font-3e4041: #3e4041;
$assist-font-b2b2b2: #b2b2b2;
$content-font-666: #666;
$intersperse-font-76b8ff: #76b8ff;
$other-font-0069ea: #0069ea;
$font-999: #999;
$money-ff5474: #ff5474;

// 盒子阴影
$box-shadow-ebeded: #ebeded;
$box-shadow-e3e3e3: #e3e3e3;
// 搜索结果边框
$search-border-c4c4c4: #c4c4c4;
// 搜索结果条目边框
$search-item-d2d5dc: #d2d5dc;
// 筛选背景
$search-back-f6f9fa: #f6f9fa;
// 筛选阴影
$search-shadow-ebeded: #ebeded;
// 筛选选中
$search-active-back-dcedff: #dcedff;
$search-active-font-dcedff: #0069ea;
// 字体大小
$font-size-xlarge: r(40);
$font-size-large: r(36);
$font-size-medium: r(32);
$font-size-small: r(28);
$font-size-xsmall: r(24);
$font-size-xxsmall: r(20);

// 头部高度
$header-height: r(80);
// 选项卡高度
$tag-height: r(98);
// 导航高度
$nav-height: r(90);

