@import "base/index",
"components/slider",
"components/tab",
"components/tabmask",
"components/classadvance",
"components/bottomnav";

body {
  background-color: $background-f5f5f5;
  margin: 0 auto;
}

.loading {
  width: 100%;
  text-align: center;
  margin-top: r(10);
  .desc {
    line-height: 20px;
    font-size: $font-size-small;
    color: $main-font-000;
  }
}

.dropload-down {
  font-size: $font-size-small;
  color: $assist-font-b2b2b2;
  text-align: center;
  padding: r(20) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live_img {
  border-radius: 0 !important;
}

#nav {
  .home {
    &:before {
      @include bg-no-repeat('https://cdn2.qnzsvk.cn/static/20170925/qnvk_2.0/images/bottomnav_homepage_btn_s@2x.png')
    }
  }
}
