@import url(../sass/libs/swiper.min.css);
/* line 1, ../sass/base/_base.scss */
html, body {
  line-height: 1;
  font-family: 'SourceHanSansCN-Regular','PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

/* line 9, ../sass/base/_base.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/* line 18, ../sass/base/_base.scss */
figcaption,
figure,
main {
  display: block;
}

/* line 24, ../sass/base/_base.scss */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

/* line 30, ../sass/base/_base.scss */
b,
strong {
  font-weight: inherit;
}

/* line 35, ../sass/base/_base.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/* line 40, ../sass/base/_base.scss */
audio,
video {
  display: inline-block;
}

/* line 45, ../sass/base/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 50, ../sass/base/_base.scss */
img, input {
  border-style: none;
}

/* line 53, ../sass/base/_base.scss */
input {
  outline: none;
}

/* line 56, ../sass/base/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 60, ../sass/base/_base.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

/* line 71, ../sass/base/_base.scss */
button,
input {
  overflow: visible;
}

/* line 76, ../sass/base/_base.scss */
button,
select {
  text-transform: none;
}

/* line 81, ../sass/base/_base.scss */
body,
html, ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/* line 87, ../sass/base/_base.scss */
li {
  list-style: none;
}

/* line 1, ../sass/base/_mixin.scss */
.class_advance a .list_header .title .video_introduce, .video_audio .list_content .single_video .list_header .title .video_introduce, .class_advance a .live_introdus span, .video_audio .list_content .single_video .video_owner, .audio_item .audio_info .audio_title, .audio_item .audio_info .audio_owner, .audio_item .audio_info .audio_hot {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1em;
}

/* line 39, ../sass/base/_mixin.scss */
.class_advance a .list_header .is_free, .video_audio .list_content .single_video .list_header .is_free {
  width: 1.6rem;
  height: 0.4rem;
  padding: 0.12rem 0;
  margin-right: 10px;
  border-radius: 6px;
  color: #fff;
  font-size: 0.4rem;
  text-align: center;
  background-color: #ff3600;
}

/* line 56, ../sass/base/_mixin.scss */
.class_advance a .list_header, .video_audio .list_content .single_video .list_header {
  position: relative;
  width: 7rem;
  height: 3.6rem;
}
/* line 60, ../sass/base/_mixin.scss */
.class_advance a .list_header .list_header_info, .video_audio .list_content .single_video .list_header .list_header_info, .class_advance a .list_header .title, .video_audio .list_content .single_video .list_header .title {
  position: absolute;
  width: 100%;
  z-index: 2;
  font-size: 0.48rem;
  color: #fff;
}
/* line 66, ../sass/base/_mixin.scss */
.class_advance a .list_header .list_header_info span, .video_audio .list_content .single_video .list_header .list_header_info span, .class_advance a .list_header .title span, .video_audio .list_content .single_video .list_header .title span {
  line-height: 0.8rem;
  height: 0.8rem;
}
/* line 70, ../sass/base/_mixin.scss */
.class_advance a .list_header img, .video_audio .list_content .single_video .list_header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 7rem;
  height: 3.6rem;
  z-index: 1;
}
/* line 78, ../sass/base/_mixin.scss */
.class_advance a .list_header .list_header_info, .video_audio .list_content .single_video .list_header .list_header_info {
  position: absolute;
  top: 0.2rem;
  height: 0.84rem;
}
/* line 82, ../sass/base/_mixin.scss */
.class_advance a .list_header .list_header_info .class_type, .video_audio .list_content .single_video .list_header .list_header_info .class_type {
  width: 2.52rem;
  height: 0.84rem;
}
/* line 88, ../sass/base/_mixin.scss */
.class_advance a .list_header .is_free, .video_audio .list_content .single_video .list_header .is_free {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 94, ../sass/base/_mixin.scss */
.class_advance a .list_header .title, .video_audio .list_content .single_video .list_header .title {
  bottom: 0;
  display: flex;
}
/* line 97, ../sass/base/_mixin.scss */
.class_advance a .list_header .title .video_introduce, .video_audio .list_content .single_video .list_header .title .video_introduce {
  line-height: 0.8rem;
  height: 0.8rem;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
  width: 100%;
  display: block;
  color: #fff;
  font-size: 0.48rem;
}

/* line 109, ../sass/base/_mixin.scss */
.audio_item .audio_wrapper .audio_info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  height: 3.2rem;
  margin-left: 0.4rem;
  margin-right: 0.64rem;
  flex: 1;
}
/* line 118, ../sass/base/_mixin.scss */
.audio_item .audio_wrapper .audio_info span {
  display: block;
  text-align: left;
  width: 100%;
  padding: 2px 0;
}
/* line 124, ../sass/base/_mixin.scss */
.audio_item .audio_wrapper .audio_info .audio_title {
  font-size: 0.56rem;
  color: #3e4041;
  text-indent: 0;
  max-width: 11rem;
}
/* line 131, ../sass/base/_mixin.scss */
.audio_item .audio_wrapper .audio_info .audio_owner, .audio_item .audio_wrapper .audio_info .audio_hot {
  text-indent: 0;
  max-width: 11rem;
  font-size: 0.48rem;
  color: #666;
}
/* line 138, ../sass/base/_mixin.scss */
.audio_item .audio_wrapper .audio_info .audio_hot {
  align-items: center;
}
/* line 141, ../sass/base/_mixin.scss */
.audio_item .audio_wrapper .audio_info .audio_hot i {
  font-style: normal;
}
/* line 144, ../sass/base/_mixin.scss */
.audio_item .audio_wrapper .audio_info .audio_hot .watched_sum {
  margin-left: 0.8rem;
}

/* line 3, ../sass/components/_slider.scss */
#banner {
  font-size: 0;
  background-color: #e7eaee;
  width: 100%;
  overflow: hidden;
}
/* line 8, ../sass/components/_slider.scss */
#banner .swiper-pagination {
  position: absolute !important;
  z-index: 2;
}
/* line 12, ../sass/components/_slider.scss */
#banner .swiper_title {
  position: absolute;
  z-index: 1;
  line-height: 1rem;
  height: 1rem;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
  color: #fff;
  font-size: 0.48rem;
  font-weight: normal;
  text-indent: 0.4rem;
}
/* line 25, ../sass/components/_slider.scss */
#banner div {
  position: relative;
}
/* line 28, ../sass/components/_slider.scss */
#banner div .swiper-wrapper .swiper-slide {
  background-size: cover !important;
}
/* line 30, ../sass/components/_slider.scss */
#banner div .swiper-wrapper .swiper-slide a {
  display: block;
}
/* line 33, ../sass/components/_slider.scss */
#banner div .swiper-wrapper .swiper-slide img {
  height: 4.8rem;
  width: 100%;
}

/* line 2, ../sass/components/_tab.scss */
#tab {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #f8f8f8;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}
/* line 9, ../sass/components/_tab.scss */
#tab .swiper-wrapper {
  display: flex;
  height: 1.96rem;
  padding: 0 0.4rem;
  align-items: center;
  justify-content: space-around;
}
/* line 15, ../sass/components/_tab.scss */
#tab .swiper-wrapper .swiper-slide {
  height: 1.96rem;
  width: 3.2rem;
  line-height: 1.2rem;
  text-align: center;
  display: flex;
  white-space: nowrap;
  align-items: center;
}
/* line 23, ../sass/components/_tab.scss */
#tab .swiper-wrapper .swiper-slide span {
  width: 3.2rem;
  transition: all .3s ease;
  display: block;
  font-size: 0.48rem;
  color: #3e4041;
}
/* line 31, ../sass/components/_tab.scss */
#tab .swiper-wrapper .swiper-slide img {
  width: 100%;
  line-height: 0;
}
/* line 37, ../sass/components/_tab.scss */
#tab .swiper-wrapper .active span {
  transform: scale(1.1);
  font-size: 0.64rem;
  color: #000;
}
/* line 41, ../sass/components/_tab.scss */
#tab .swiper-wrapper .active span:after {
  content: '';
  display: block;
  border-bottom: 2px solid #92c0f1;
  margin: 0 auto;
  width: 20px;
}

/* line 57, ../sass/components/_tab.scss */
.video_audios .choose_craful h2 {
  font-size: 0.56rem;
  color: #3e4041;
  font-weight: 600;
  line-height: 0.96rem;
  height: 0.96rem;
  text-indent: 0.4rem;
  margin-bottom: 0.4rem;
}
/* line 66, ../sass/components/_tab.scss */
.class_advance li {
  margin: 0 0.4rem;
}
/* line 70, ../sass/components/_tab.scss */
.class_advance a {
  display: flex;
  height: 3.6rem;
  align-items: center;
  width: 100%;
}
/* line 75, ../sass/components/_tab.scss */
.class_advance a .list_header {
  display: block;
}
/* line 79, ../sass/components/_tab.scss */
.class_advance a .live_introdus {
  width: 7rem;
  height: 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* line 86, ../sass/components/_tab.scss */
.class_advance a .live_introdus span {
  width: 100%;
  padding: 2px 0;
}
/* line 91, ../sass/components/_tab.scss */
.class_advance a .live_introdus .title {
  font-size: 0.56rem;
  color: #000;
  font-weight: 600;
}
/* line 96, ../sass/components/_tab.scss */
.class_advance a .live_introdus .live_user {
  font-size: 0.48rem;
  color: #3e4041;
}
/* line 100, ../sass/components/_tab.scss */
.class_advance a .live_introdus .status {
  font-size: 0.48rem;
  color: #76b8ff;
}
/* line 109, ../sass/components/_tab.scss */
.video_audios .audio_advance h2 {
  margin: 0.4rem 0 0;
}
/* line 113, ../sass/components/_tab.scss */
.video_audio {
  padding-top: 0.4rem;
  background: #f5f5f5;
  width: 100%;
}
/* line 117, ../sass/components/_tab.scss */
.video_audio .list_content {
  margin: 0 0.4rem;
  display: flex;
  flex-flow: row wrap;
}
/* line 121, ../sass/components/_tab.scss */
.video_audio .list_content .single_list_wrapper {
  display: block;
}
/* line 124, ../sass/components/_tab.scss */
.video_audio .list_content li:nth-child(2n+2) {
  margin-left: 0.2rem;
}
/* line 127, ../sass/components/_tab.scss */
.video_audio .list_content li:nth-child(n+3) {
  margin-top: 0.2rem;
}
/* line 130, ../sass/components/_tab.scss */
.video_audio .list_content .single_video {
  height: 4.8rem;
  width: 7rem;
  border-radius: 10px;
  flex: 0 0 46.66667%;
  background-color: #fff;
}
/* line 139, ../sass/components/_tab.scss */
.video_audio .list_content .single_video .video_owner {
  font-size: 0.48rem;
  color: #999;
  line-height: 1.2rem;
  height: 1.2rem;
  text-indent: 1em;
}

/* line 153, ../sass/components/_tab.scss */
.class_bags .class_bag {
  padding-top: 0.4rem;
  background: #f5f5f5;
}
/* line 156, ../sass/components/_tab.scss */
.class_bags .class_bag .audio_content {
  height: 100%;
  width: 100%;
}
/* line 159, ../sass/components/_tab.scss */
.audio_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2rem;
  padding: 0 0.64rem 0 0.4rem;
}
/* line 166, ../sass/components/_tab.scss */
.audio_item .icon img {
  width: 2.4rem;
  height: 2.4rem;
}
/* line 172, ../sass/components/_tab.scss */
.audio_item .audio_info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  height: 3.2rem;
  margin-left: 0.4rem;
  margin-right: 0.64rem;
  flex: 1;
}
/* line 181, ../sass/components/_tab.scss */
.audio_item .audio_info span {
  display: block;
  text-align: left;
  width: 100%;
  margin-left: 0;
  padding: 2px 0;
}
/* line 188, ../sass/components/_tab.scss */
.audio_item .audio_info .audio_title {
  font-size: 0.56rem;
  color: #3e4041;
  text-indent: 0;
  max-width: 9rem;
}
/* line 195, ../sass/components/_tab.scss */
.audio_item .audio_info .audio_owner, .audio_item .audio_info .audio_hot {
  text-indent: 0;
  max-width: 11rem;
  font-size: 0.48rem;
  color: #666;
}
/* line 202, ../sass/components/_tab.scss */
.audio_item .audio_info .audio_hot {
  display: flex;
  justify-content: space-between;
}
/* line 206, ../sass/components/_tab.scss */
.audio_item .audio_info .audio_hot i {
  font-style: normal;
}
/* line 209, ../sass/components/_tab.scss */
.audio_item .audio_info .audio_hot .watched_sum {
  margin-left: 0.8rem;
}
/* line 212, ../sass/components/_tab.scss */
.audio_item .audio_info .audio_hot .bag_price {
  font-size: 0.48rem;
  color: #ff405f;
}

/* line 225, ../sass/components/_tab.scss */
.audio_lists .audio_list {
  padding-top: 0.4rem;
  background: #f5f5f5;
}
/* line 228, ../sass/components/_tab.scss */
.audio_lists .audio_list .audio_content {
  height: 100%;
  width: 100%;
}
/* line 231, ../sass/components/_tab.scss */
.audio_item {
  height: 3.2rem;
  padding: 0 0.64rem 0 0.4rem;
}
/* line 234, ../sass/components/_tab.scss */
.audio_item .audio_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 240, ../sass/components/_tab.scss */
.audio_item .audio_wrapper .icon img {
  width: 2.4rem;
  height: 2.4rem;
}

/* line 1, ../sass/components/_tabmask.scss */
.header {
  position: relative;
}
/* line 3, ../sass/components/_tabmask.scss */
.header .tab_mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 4.8rem;
  overflow-y: auto;
  width: 100%;
  z-index: 2;
  background: #f6f9fa;
  box-shadow: 0 4px 4px #ebeded;
}
/* line 14, ../sass/components/_tabmask.scss */
.header .tab_mask .tab_mask_remind {
  line-height: 1.2rem;
  height: 1.2rem;
  font-weight: 500;
  font-size: 0.64rem;
  color: #000;
  text-indent: 0.4rem;
  display: flex;
  align-items: center;
}
/* line 22, ../sass/components/_tabmask.scss */
.header .tab_mask .tab_mask_remind:after {
  display: block;
  content: '';
  background-image: url("../images/homepage_filtrate_img@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.8rem;
  height: 0.8rem;
}
/* line 32, ../sass/components/_tabmask.scss */
.header .tab_mask div {
  height: 1.6rem;
  display: flex;
  width: 90%;
  align-items: center;
  padding-left: 0.4rem;
}
/* line 38, ../sass/components/_tabmask.scss */
.header .tab_mask div h2 {
  line-height: 1.6rem;
  height: 1.6rem;
  width: 1.8rem;
  font-weight: normal;
  font-size: 0.64rem;
  color: #000;
}
/* line 45, ../sass/components/_tabmask.scss */
.header .tab_mask div span {
  font-size: 0.4rem;
  border-radius: 8px;
  border: 1px solid #d2d5dc;
  line-height: 0.84rem;
  height: 0.84rem;
  padding: 0 0.2rem;
  margin-right: 0.4rem;
}
/* line 53, ../sass/components/_tabmask.scss */
.header .tab_mask div .search_active {
  background-color: #dcedff;
  color: #0069ea;
}
/* line 60, ../sass/components/_tabmask.scss */
.header .tab_mask .classes span {
  padding: 0 0.4rem;
}

/* line 7, ../sass/index.scss */
.tabs {
  display: none;
  padding-bottom: 1.8rem;
  background: #f5f5f5;
}

/* line 12, ../sass/index.scss */
body {
  background-color: #f5f5f5;
}

/* line 15, ../sass/index.scss */
.loading {
  width: 100%;
  text-align: center;
  margin-top: 0.2rem;
}
/* line 19, ../sass/index.scss */
.loading .desc {
  line-height: 20px;
  font-size: 0.48rem;
  color: #000;
}
