#footer {
  background-color: $assist-font-b2b2b2;
  position: fixed;
  box-shadow: 0 1px 4px 0 $box-shadow-ebeded;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  text-align: center;
  background: $nav-back-f6f9fa;
  @at-root .nav {
    display: flex;
    height: $nav-height;
    justify-content: space-between;
    .router-link-active {
      a {
        color: $intersperse-font-76b8ff;
      }
      .home {
        &:before {
          @include bg-no-repeat('../images/bottomnav_homepage_btn_s@2x.png')
        }
      }
      .hasBought {
        &:before {
          @include bg-no-repeat('../images/bottomnav_bought_btn_s@2x.png')
        }
      }
      .playHistory {
        &:before {
          @include bg-no-repeat('../images/bottomnav_history_btn_s@2x.png')
        }
      }
      .userCenter {
        &:before {
          @include bg-no-repeat('../images/bottomnav_personal_btn_s@2x.png')
        }
      }
    }

    li {
      position: relative;
      .home {
        &:before {
          @include bg-no-repeat('../images/bottomnav_homepage_btn_s@2x.png')
        }
      }
      .hasBought {
        &:before {
          @include bg-no-repeat('../images/bottomnav_bought_btn_n@2x.png')
        }
      }
      .playHistory {
        &:before {
          @include bg-no-repeat('../images/bottomnav_history_btn_n@2x.png')
        }
      }
      .userCenter {
        &:before {
          @include bg-no-repeat('../images/bottomnav_personal_btn_n@2x.png')
        }
      }
      a {
        color: $font-999;
        font-size: $font-size-xsmall;
        display: block;
        width: r(186);
        height: 100%;
        &:before {
          display: block;
          width: r(50);
          height: r(40);
          top: 0;
          left: 0;
          content: '';
          margin: r(12) auto r(12);
        }
      }
    }
  }
}