#nav{
  .hasBought {
    &:before {
      @include bg-no-repeat('https://cdn2.qnzsvk.cn/static/20170925/qnvk_2.0/images/bottomnav_bought_btn_s@2x.png');
    }
    color: $intersperse-font-76b8ff;
  }
}
#bought{
  background-color: $background-f5f5f5;
  display: flex;
  flex-direction: column;
  li{
    padding: 0 r(20);
    background-color: $button-back-fff;
    margin-top: r(20);
    .title{
      height: r(48);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-medium;
      font-weight: 600;
      border-bottom: 1px solid $background-f5f5f5;
      .class_name{
        color: $main-font-000;
      }
      .status{
        color: $intersperse-font-76b8ff;
      }
    }
    .class_list{
      display: flex;
      padding: r(20) 0;
      align-items: center;
      height: r(120);
      img{
        width: r(120);
        height: r(120);
      }
      .class_info{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-left: r(20);
        @extend %no-wrap;
        text-indent: 0;
        .class_title{
          font-size: $font-size-medium;
          color: $main-font-000;
          width: 100%;
          @extend %no-wrap;
        }
        .class_user{
          font-size: $font-size-small;
          color: $content-font-666;
        }
      }
      .price{
        width: r(140);
        color: $assist-font-b2b2b2;
        font-size: $font-size-small;
        text-align: right;
      }
    }
  }
}
