#class_advance {
  li {
    margin: 0 r(20);
  }
  a {
    display: flex;
    height: r(180);
    align-items: center;
    width: 100%;
    .list_header {
      @extend %list_header;
      display: block;
      .all-cut-time {
        @include back-gradient-bottom();
      }
    }
    .live_introdus {
      width: r(350);
      height: r(180);
      margin-left: r(10);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        @extend %no-wrap;
        width: 100%;
        padding: 2px 0;
      }
      .title {
        font-size: $font-size-medium;
        color: $main-font-000;
        font-weight: 600;
        text-indent: 0;
      }
      .live_user {
        font-size: $font-size-small;
        color: $minor-font-3e4041;
      }
      .status {
        font-size: $font-size-small;
        color: $intersperse-font-76b8ff;
      }
    }
  }
}