#nav {
  .playHistory {
    &:before {
      @include bg-no-repeat('https://cdn2.qnzsvk.cn/static/20170925/qnvk_2.0/images/bottomnav_history_btn_s@2x.png')
    }
    color: $intersperse-font-76b8ff;
  }
}

#play_history {
  li {
    display: flex;
    height: r(160);
    justify-content: space-between;
    background-color: $button-back-fff;
    margin-bottom: r(20);
    .history_title {
      display: flex;
      flex: 1;
      align-items: center;
      height: 100%;
      margin-left: r(20);
      img {
        width: r(120);
        height: r(120);
      }
      .history_info {
        flex: 1;
        height: 100%;
        margin: 0 r(20);
        width: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-indent: 0;
        .class_title {
          color: $main-font-000;
          font-size: $font-size-medium;
          @extend %no-wrap;
        }
        .class_user {
          color: $content-font-666;
          font-size: $font-size-small;
          @extend %no-wrap;
        }
      }
    }
    .delete {
      width: r(48);
      height: r(48);
    }
  }
}