.mask_list {
  position: absolute;
  top: 0;
  z-index: 10;
  display: none;
  @include width_height(100%);
  .share_mask{

    @include width_height(100%);
    background: $background-mask;
    .share_mask_item{
      @include mask_item(6,26);
      z-index: 11;
    }
  }
  .nav_mask{
      &:after{
        @extend %mask_before_after;
        height: r(950);
        top: r(340);
      }
      &:before{
        @extend %mask_before_after;
        height: r(260);
        top: r(0);
      }
      .nav_mask_item{
        @include mask_item(295,57);
        z-index: 11;
      }
  }
  .tabs_mask{
    position: fixed;
    width: 100%;
    top: r(265);
    height: r(1050);
    background: $background-mask;
    .tab_mask_item{
      @include mask_item(-200,26);
    }
  }
  .mask_item {
    position: relative;
    img {
      margin-left: r(170);
      width: r(32);
      height: r(64);
    }
    p {
      width: r(200);
      border-radius: r(8);
      border: r(2) solid #000;
      padding: r(6) r(12);
      background-color: #fff;
      font-size: r(20);
      color: #000;
    }
  }
  .btn_group {
    z-index: 10;
    position: absolute;
    bottom: r(130);
    width: 100%;
    p {
      width: r(200);
      margin: 0 auto;
      text-align: center;
      border-radius: r(10);
      border: r(2) solid #605f5c;
      background-color: #ffd400;
      color: #000;
      padding: r(15);
      font-size: r(30);
    }
  }
  .none{
    display: none;
  }
}
