// 选项卡
#tab {
  overflow: hidden;
  border-bottom: 1px solid #f8f8f8;
  background-color: $background-f5f5f5;
  width: 100%;
  .swiper-wrapper {
    .swiper-slide {
      height: r(98);
      width: r(220);
      line-height: r(60);
      text-align: center;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      align-items: center;
      span {
        display: block;
        font-size: $font-size-medium;
        color: $minor-font-3e4041;
      }
    }
    .swiper-slide:first-child {
      width: r(180);
    }
    .swiper-slide:last-child {
      margin-left: r(20);
    }
    .active {
      span {
        font-size: $font-size-large;
        color: $main-font-000;
        &:after {
          content: '';
          display: block;
          border-bottom: 2px solid $tag-active-92c0f1;
          margin: 0 auto;
          width: 20px;
        }
      }
    }
  }

}

// 精选推荐
.choose_craful {
  h2 {
    color: $minor-font-3e4041;
    font-weight: 600;
    line-height: r(48);
    text-indent: r(20);
    padding-top: r(24);
    padding-bottom: r(20);
    @include line_height_font($font-size-medium);
  }
}

.video_audio {
  background: $background-f5f5f5;
  width: 100%;
  .list_content {
    margin: 0 r(20);
    display: flex;
    flex-flow: row wrap;
    .single_list_wrapper {
      display: block;
    }
    li:nth-child(2n+2) {
      margin-left: r(10);
    }
    li:nth-child(n+3) {
      margin-top: r(10);
    }
    .single_video {
      height: r(240);
      width: r(350);
      border-radius: 10px;
      flex: 0 0 percent(350);
      background-color: $button-back-fff;
      .list_header {
        @extend %list_header;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
      }
      .video_owner {
        font-size: $font-size-small;
        color: $font-999;
        @include line_height(r(240 - 180));
        @extend %no-wrap;
        text-indent: r(10);
      }
    }
  }
}

// 语音课程
.audio_lists {
  .audio_list {
    padding-top: r(20);
    background: $background-f5f5f5;
    .audio_content {
      height: 100%;
      width: 100%;
      @at-root .audio_item {
        height: r(120);
        padding: r(20);
        background: $button-back-fff;
        border-bottom: 1px solid $background-f5f5f5;
        .audio_wrapper {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: r(120);
          .icon {
            float: left;
            width: r(120);
            height: r(120);
            img {
              width: r(120);
              height: r(120);
            }
          }
          .audio_info {
            float: left;
            margin-left: r(20);
            height: 100%;
            width: percent(600);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span {
              display: block;
              text-align: left;
              width: 100%;
              margin-left: 0;
              padding: 2px 0;
            }
            .audio_title {
              @include line_height_font($font-size-medium);
              color: $minor-font-3e4041;
              @extend %no-wrap;
              text-indent: 0;
              width: 99%;
            }
            .audio_owner {
              @extend %no-wrap;
              text-indent: 0;
              max-width: r(550);
              @include line_height_font($font-size-small);
              color: $content-font-666;
            }
            .audio_hot {
              display: flex;
              justify-content: space-between;
              @extend .audio_owner;
              i {
                font-style: normal;
              }
              .watched_sum {
                margin-left: r(40);
              }
              .bag_price {
                font-size: $font-size-small;
                color: $background-ff405f;
              }
            }
          }
        }

      }
    }
  }
}

